html, body {
    height: 95%;
}

* {
    color: white;
}

button {
    color: black;
}

body {
    background-image: url(../images/space.png);
    background-repeat: repeat; 
    background-attachment: fixed;
}

#game {
    height: 100%;
}

#game-title {
    font-size: 60px;
}
#question {
    font-size: 48px;
}

#countdown {
    height: 200px;
    font-size: 36px;
    padding-top: 60px;
}

#answer-image {
    height: 300px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    object-fit: scale-down;
}

.question-content {
    width: 100%;
    text-align: center;
}

.question-item {
    height: 20%;
    padding: 20px 0;
    font-size: 24px;
}

.question-content .answer:hover {
    background-color: lightskyblue;
}